* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: black;
  color: white;
}

.container {
  text-align: center;
  margin: 5vh auto;
}

h1 {
  margin-bottom: 5vh;
}

.game-cont {
  display: flex;
  place-items: center;
  justify-content: space-evenly;
  margin-top: 15vh;
}

.mode-btn {
  height: 60px;
  padding: 20px 36px;
  border-radius: 16px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background-color: #0f1c50;
  cursor: pointer;
  /* transition: 0.5s; */
  width: 240px;
}

.card-box {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  row-gap: 50px;
  column-gap: 10px;
  width: 390px;
  height: 360px;
  justify-content: space-evenly;
}

.btn-cont {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.card {
  /* height: 100px;
  width: 120px; */
  background-color: rgb(56, 75, 19);
  border-radius: 5px;
  aspect-ratio: 1;
}
